[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pyinstaller = "*"
pytest = "*"

[packages]
pyside = "*"
"qt.py" = "*"
sqlalchemy = "*"
"pathlib2" = "*"
psutil = "*"
win-unicode-console = {version = "*", sys_platform = "== 'win32'"}
"90503d6" = {file = "https://github.com/NateScarlet/pendulum/files/2105726/pendulum-2.0.3.tar.gz"}

[requires]
python_version = "2.7"
