[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pyinstaller = "*"
pytest = "*"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"} # Pyinstaller require this
rope = "*"

[packages]
pyside2 = "*"
sqlalchemy = "*"
psutil = "*"
win-unicode-console = {version = "*", sys_platform = "== 'win32'"}
pendulum = "*"
python-dateutil = "*"
pytzdata = "*"

[requires]
python_version = "3.7"
