[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "~=1.9"
"autopep8" = "*"
pyinstaller = "*"
pytest = "*"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}

[packages]
pyside = "*"
"qt.py" = "*"
sqlalchemy = "*"
"pathlib2" = "*"
psutil = "*"
win-unicode-console = {version = "*", sys_platform = "== 'win32'"}
pendulum = {file = "https://github.com/NateScarlet/pendulum/releases/download/2.0.3-fix238/pendulum-2.0.3.tar.gz"}

[requires]
python_version = "2.7"
